.profile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 18px;
}

@media screen and (max-width: 720px) {
  .profile__container {
    gap: 0 10px;
  }
}
