.auth__input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0 0 13px 0;
  color: #cccccc;
  font-size: 14px;
}

.auth__input:focus {
  outline: none;
}

.auth__input::-moz-placeholder {
  color: #cccccc;
}

.auth__input::-webkit-input-placeholder {
  color: #cccccc;
}
